<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Buy Vegetables" parallel="tests" thread-count="5">
  <test thread-count="5" name="Test">
	  <classes>
		  <class name="buyProducts.buyVegetables2"></class>
		  <class name="buyProducts.buyVegetables3"></class>
		  <class name="buyProducts.buyVegetables4"></class>
	  </classes>
  </test> <!-- Test -->
  <test name="Test2">
	  <classes>  
		  <class name="buyProducts.buyVegetables5"></class>
		  <class name="buyProducts.buyVegetables6"></class>
		  
		 </classes>
	
		  
  </test>
</suite> <!-- Suite -->
